*{
    text-align: center;
    margin: 0 auto;
}
h1 {
    color: #ffa260;
}
body {
    font-family: 'Zen-Kurenaido';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: palegoldenrod;
}

span {
    color: #ffa260;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    border-radius: 6em;
    padding: 0.7em 1.6em;
    font-size: 1em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.15em);
    cursor: pointer;
}

ul li {
    list-style-type: none;
    color: #ffa260;
    text-align: right;
}

li {
    width: 185px;
    height: 19px;
}

#calcScreen {
    border: 1px solid #f1ff5c;
width: 300px;
height: 100px;
}
#calcBody {
    background-color: #151b29;
    border: 5px inset #ffa260;
    border-radius: 12%;
    width: 30%;
    height: 58%;
}
#calcDisplay {
    text-align: right;
    width: 225px;
    height: 19px;
    border-bottom: 1px solid #f1ff5c;
    border-top: 1px solid #f1ff5c;
    display: block;
}
#calcButtons {
    margin: auto;
}